@model K_12.Entity.Contact



<div class="form-group">
    @Html.LabelFor(m => m.FName, "Full Name", new { @class = "col-sm-4 control-label" })


    <div class="col-sm-4">
        @*<span class="k-textbox k-space-right" style="width:100%;">*@
        @Html.TextBoxFor(model => model.FName, new { @class = "k-textbox", style = "width:100%;", @PlaceHolder = "First Name" })
        @*<a href="#" class="k-icon k-i-arrow-s">&nbsp;</a>*@
        @*</span>*@
    </div>


    <div class="col-sm-4">
        @Html.TextBoxFor(model => model.LName, new { @class = "k-textbox", style = "width:100%;", @PlaceHolder = "Last Name" })
    </div>
</div>

<!-- Text input-->
<div class="form-group">
    @Html.LabelFor(m => m.Address.PhoneBooks, "Phone Numbers", new { @class = "col-sm-4 control-label" })
   
        @Html.EditorFor(model => model.Address.PhoneBooks)

   
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Address.Email, "Email", new { @class = "col-sm-4 control-label" })
    <div class="col-sm-4">
        @Html.TextBoxFor(model => model.Address.Email, new { @class = "k-textbox", style = "width:100%;", @PlaceHolder = "Email" })

    </div>
</div>