@model K_12.Entity.student_parent


<text>
    <script>

        $(function () {
            // yay!
            setProgress(1)

        });
    </script>
</text>

@using (Ajax.BeginForm(
                                                    "ParentInfo",
                                                    null,

                                                    new AjaxOptions()
                                                    {

                                                        InsertionMode = InsertionMode.Replace,
                                                        UpdateTargetId = "admissionFormContent",
                                                        //OnSuccess = "onSuccess"
                                                        OnSuccess = "$('#admissionFormContent').hide().fadeIn('slow')"




                                                    },
                                                    new { @class = "form-horizontal" } // htmlAttributes


                                                    ))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)







    <fieldset>

        <!-- Form Name -->
        <legend>Parent Info</legend>

        <!-- Text input-->
        <div class="form-group">
            <div class="col-sm-4">
                @Html.LabelFor(m => m.Parent.FName, "Full Name", new { @class = "col-sm-4 control-label" })
                </div>

                <div class="col-sm-4">
                    @*<span class="k-textbox k-space-right" style="width:100%;">*@
                    @Html.TextBoxFor(model => model.Parent.FName, new { @class = "k-textbox", style = "width:100%;", @PlaceHolder = "First Name" })
                    @*<a href="#" class="k-icon k-i-arrow-s">&nbsp;</a>*@
                    @*</span>*@
                    <span class="has-error">  @Html.ValidationMessageFor(model => model.Parent.FName) </span>
                </div>


                <div class="col-sm-4">
                    @Html.TextBoxFor(model => model.Parent.MName, new { @class = "k-textbox", style = "width:100%;", @PlaceHolder = "Father Name" })
                </div>

                <div class="col-sm-4">
                    @Html.TextBoxFor(model => model.Parent.LName, new { @class = "k-textbox", style = "width:100%;", @PlaceHolder = "G.Father Name" })
                </div>
            </div>

        <!-- Select Basic -->
        <div class="form-group">
            @Html.LabelFor(m => m.Parent.Gender, "Gender", new { @class = "col-sm-4 control-label" })
            <div class="col-sm-4">

                @(Html.Kendo().ComboBoxFor(m => m.Parent.Gender)

            .Placeholder("Select Gender")
            .DataTextField("Text")
            .DataValueField("Value")

          .BindTo(new List<SelectListItem>() {
              new SelectListItem() {
                Text = "Male", Value = "M"
              },
              new SelectListItem() {
                Text = "Female", Value = "F"
              },

          })
                )


            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            @Html.LabelFor(m => m.Parent.DOB, "Birth Date", new { @class = "col-sm-4 control-label" })
            <div class="col-sm-4">
                @* <input id="student_dob" name="student_dob" type="text" placeholder="DD/MM/YY" class="form-control input-md">*@
                @(Html.Kendo().DatePickerFor(m => m.Parent.DOB)
                .Start(CalendarView.Decade)
                    .HtmlAttributes(new { PlaceHolder = "Birth Date" }))

            </div>
        </div>


        <div class="form-group">
            @Html.Label( "Relation", new { @class = "col-sm-4 control-label" })
            <div class="col-sm-4">

                @(Html.Kendo().ComboBoxFor(m=>m.Relation)
            .Placeholder("Relation")
            .BindTo(new string[] {
                "Father",
                "Mother",
                "Uncle"
             })
                )


            </div>
        </div>


    </fieldset>


    <fieldset>


        <legend>Address</legend>

        <div class="form-group">
          
            <div class="col-sm-4">

                @(Html.Kendo().ComboBoxFor(m => m.Parent.Address.Subcity)
            .Placeholder("SubCity")
            .BindTo(new string[] {
                "Yeka",
                "Bole",
                "Arada"
             })
                )


            </div>

            <div class="col-sm-4">
                @Html.TextBoxFor(model => model.Parent.Address.Woreda, new { @class = "k-textbox", style = "width:100%;", @PlaceHolder = "Woreda", @Type="Number" })
            </div>


            <div class="col-sm-4">
                @Html.TextBoxFor(model => model.Parent.Address.H_NO, new { @class = "k-textbox", style = "width:100%;", @PlaceHolder = "House Number" })
            </div>



        </div>

        <div class="form-group">

           
            <div class="col-sm-4">
                @Html.TextAreaFor(model => model.Parent.Address.Address_Detail, new { @class = "k-textbox", style = "width:100%;", @PlaceHolder = "AddressDetail" })
            </div>


            
        </div>

        <div class="form-group">


            @Html.EditorFor(m=>m.Parent.Address.PhoneBooks)


        </div>


        <div class="form-group">


            <div class="col-sm-4">
                @Html.TextBoxFor(model => model.Parent.Address.Email, new { @class = "k-textbox", style = "width:100%;", @PlaceHolder = "Email" })
            </div>


        </div>

    </fieldset>


    <fieldset>


        <legend>Work Info</legend>

        <div class="form-group">


            <div class="col-sm-4">
                @Html.TextBoxFor(model => model.Parent.Work_place, new { @class = "k-textbox", style = "width:100%;", @PlaceHolder = "Place of Work" })
            </div>

            <div class="col-sm-4">
                @Html.TextBoxFor(model => model.Parent.Occupation, new { @class = "k-textbox", style = "width:100%;", @PlaceHolder = "Occupation" })
            </div>

        </div>

        </fieldset>



        <!-- Button(Double) -->

        <div class="row">


            <div class="col-sm-offset-8 col-sm-4 right">
                @Html.Kendo().Button().Name("BtnPrevious").Content("Back").HtmlAttributes(new { @class = "k-button k-secondary", type = "submit", name = "ButtonType", value = "Back" })
                @Html.Kendo().Button().Name("btnReset").Content("Reset").HtmlAttributes(new { @class = "k-button k-danger", type = "submit", name = "ButtonType", value = "Reset" })
                @Html.Kendo().Button().Name("btnReset").Content("Add").HtmlAttributes(new { @class = "k-button k-danger", type = "submit", name = "ButtonType", value = "Add" })
                @Html.Kendo().Button().Name("BtnNext").Content("Next").HtmlAttributes(new { @class = "k-button k-primary", type = "submit", name = "ButtonType", value = "Next" }).Icon("plus")
            </div>
        </div>



        }
        @*form end*@




