@model K_12.WEB.Models.UserViewModel


<text>
    <script>

        $(function () {
            // yay!
            setProgress(3)

        });
    </script>
</text>

@using (Ajax.BeginForm(
                                                                "UserRegistration",
                                                                null,

                                                                new AjaxOptions()
                                                                {

                                                                    InsertionMode = InsertionMode.Replace,
                                                                    UpdateTargetId = "admissionFormContent",
                                                                    //OnSuccess = "onSuccess"
                                                                    OnSuccess = "$('#admissionFormContent').hide().fadeIn('slow')"




                                                                },
                                                                new { @class = "form-horizontal" } // htmlAttributes


                                                                ))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)







    <fieldset>

        <!-- Form Name -->
        <legend>User Info</legend>

        <!-- Text input-->
        <div class="form-group">
         
                @Html.LabelFor(m => m.Username, "UserName", new { @class = "col-sm-4 control-label" })
         

            <div class="col-sm-4">
            
                @Html.TextBoxFor(model => model.Username, new { @class = "k-textbox", style = "width:100%;", @PlaceHolder = "UserName" })
             
                <span class="has-error">  @Html.ValidationMessageFor(model => model.Password) </span>
            </div>
                 
        </div>

   
        <div class="form-group">
            @Html.LabelFor(m => m.Password, "Password", new { @class = "col-sm-4 control-label" })
            <div class="col-sm-4">

                @Html.TextBoxFor(model => model.Password, new { @class = "k-textbox", style = "width:100%;", @PlaceHolder = "Password ", Type="Password" })

                <span class="has-error">  @Html.ValidationMessageFor(model => model.Password) </span>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Password2, "Re Password", new { @class = "col-sm-4 control-label" })
            <div class="col-sm-4">

                @Html.TextBoxFor(model => model.Password2, new { @class = "k-textbox", style = "width:100%;", @PlaceHolder = "Retype Password ", Type = "Password" })

                <span class="has-error">  @Html.ValidationMessageFor(model => model.Password2) </span>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Email, "Email", new { @class = "col-sm-4 control-label" })
            <div class="col-sm-4">

                @Html.TextBoxFor(model => model.Email, new { @class = "k-textbox", style = "width:100%;", @PlaceHolder = "Email" })

                <span class="has-error">  @Html.ValidationMessageFor(model => model.Email) </span>
            </div>
        </div>


    </fieldset>

        <div class="row">


            <div class="col-sm-offset-8 col-sm-4 right">
                @Html.Kendo().Button().Name("BtnPrevious").Content("Back").HtmlAttributes(new { @class = "k-button k-secondary", type = "submit", name = "ButtonType", value = "Back" })
                @Html.Kendo().Button().Name("btnReset").Content("Reset").HtmlAttributes(new { @class = "k-button k-danger", type = "submit", name = "ButtonType", value = "Reset" })
                @Html.Kendo().Button().Name("BtnNext").Content("Next").HtmlAttributes(new { @class = "k-button k-primary", type = "submit", name = "ButtonType", value = "Next" }).Icon("plus")
            </div>
        </div>



}
@*form end*@




