@model K_12.Entity.Applicant
<text>
    <script>

        $(function () {
            // yay!
            setProgress(3)

        });
    </script>
</text>

@using (Ajax.BeginForm(
                                                    "Confirmation",
                                                    null,

                                                    new AjaxOptions()
                                                    {
                                                        
                                                        InsertionMode = InsertionMode.Replace,
                                                        UpdateTargetId = "formContent",
                                                        //OnSuccess = "onSuccess",
                                                         OnComplete = "$('#formContent').hide().fadeIn('slow');"


                                                    },
                                                    new { @class = "form-horizontal" } // htmlAttributes


                                                    ))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)







<h1>@Model.FName  @Model.MName</h1>



      <!-- Button (Double) -->

    <div class="row">
     
        <div class="col-sm-offset-8 col-sm-4 right">
            @Html.Kendo().Button().Name("BtnPrevious").Content("Back").HtmlAttributes(new { @class = "k-button k-secondary", type="submit", name = "ButtonType", value = "Back" })
            @Html.Kendo().Button().Name("btnReset").Content("Reset").HtmlAttributes(new { @class = "k-button k-danger", type="reset" })
            @Html.Kendo().Button().Name("BtnNext").Content("Next").HtmlAttributes(new { @class = "k-button k-primary", type="submit", name = "ButtonType", value = "Next" }).Icon("plus")
        </div>
    </div>

} 