@{
    Layout = null;
}



<div id="shipping">
    <label for="countries" class="info">Choose shipping countries:</label>

    @(Html.Kendo().AutoComplete()
          .Name("countries")
          .Filter("startswith")
          .Placeholder("Select country...")
          .BindTo(new string[] {
                "Albania",
                "Andorra",
                "Armenia",
                "Austria",
                "Azerbaijan",
                "Belarus",
                "Belgium",
                "Bosnia & Herzegovina",
                "Bulgaria",
                "Croatia",
                "Cyprus",
                "Czech Republic",
                "Denmark",
                "Estonia",
                "Finland",
                "France",
                "Georgia",
                "Germany",
                "Greece",
                "Hungary",
                "Iceland",
                "Ireland",
                "Italy",
                "Kosovo",
                "Latvia",
                "Liechtenstein",
                "Lithuania",
                "Luxembourg",
                "Macedonia",
                "Malta",
                "Moldova",
                "Monaco",
                "Montenegro",
                "Netherlands",
                "Norway",
                "Poland",
                "Portugal",
                "Romania",
                "Russia",
                "San Marino",
                "Serbia",
                "Slovakia",
                "Slovenia",
                "Spain",
                "Sweden",
                "Switzerland",
                "Turkey",
                "Ukraine",
                "United Kingdom",
                "Vatican City"
          })
          .Separator(", ")
    )

    <div class="hint">Start typing the name of an European country</div>

</div>


<div id="background">
    @(Html.Kendo().Calendar()
            .Name("calendar")
    )
</div>

<div id="tshirt-view" class="demo-section k-content">
    <h4>Customize your Kendo T-shirt</h4>
    <img id="tshirt" src="@Url.Content("~/Content/web/combobox/tShirt.png")" />
    <h4>T-shirt Fabric</h4>
    @(Html.Kendo().ComboBox()
          .Name("fabric")
          .Filter("contains")
          .Placeholder("Select fabric...")
          .DataTextField("Text")
          .DataValueField("Value")
          .BindTo(new List<SelectListItem>() {
              new SelectListItem() {
                Text = "Cotton", Value = "1"
              },
              new SelectListItem() {
                Text = "Polyester", Value = "2"
              },
              new SelectListItem() {
                Text = "Cotton/Polyester", Value = "3"
              },
              new SelectListItem() {
                Text = "Rib Knit", Value = "4"
              }
          })
          .SelectedIndex(3)
          .Suggest(true)
          .HtmlAttributes(new { style = "width:100%;" })
    )

    <h4 style="margin-top: 2em;">T-shirt Size</h4>
    @(Html.Kendo().ComboBox()
          .Name("size")
          .Placeholder("Select size...")
          .BindTo(new List<string>() {
              "X-Small",
              "Small",
              "Medium",
              "Large",
              "X-Large",
              "2X-Large"
          })
          .SelectedIndex(0)
          .Suggest(true)
          .HtmlAttributes(new { style = "width:100%;" })
    )

    <button class="k-button k-primary" id="get" style="margin-top: 2em; float: right;">Customize</button>
</div>
<style>
    #tshirt {
        display: block;
        margin: 2em auto;
    }

    .k-readonly {
        color: gray;
    }
</style>

<script>
    $(document).ready(function() {
        var fabric = $("#fabric").data("kendoComboBox");
        var size = $("#size").data("kendoComboBox");

		$("#get").click(function() {
		    alert('Thank you! Your Choice is:\n\nFabric ID: ' + fabric.value() + ' and Size: ' + size.value());
        });
    });
</script>


<style>
	#background {
		width: 254px;
		height: 250px;
		margin: 30px auto;
		padding: 69px 0 0 11px;
		
	}
	#calendar {
		width: 241px;
	}
</style>