@model K_12.Entity.Section


<div id="addSectionForm">
    @using (Ajax.BeginForm(
                                                                                        "AddSection",
                                                                                        null,

                                                                                        new AjaxOptions()
                                                                                        {

                                                                                            InsertionMode = InsertionMode.Replace,
                                                                                            UpdateTargetId = "editSectionForm",
                                                                                            OnSuccess = "grade_selected"


                                                                                        },
                                                                                        new { @class = "form-horizontal" } // htmlAttributes


                                                                                        ))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)




        <div class="form-group row">
            @Html.LabelFor(m => m.Name, "Section Name", new { @class = "col-sm-4 control-label" })
            <div class="col-sm-4">

                @Html.TextBoxFor(m => m.Name, new { @class = "k-textbox", style = "width:100%;", @PlaceHolder = "Section Name" })

            </div>
        </div>



        <div class="row">

            @Html.HiddenFor(m=>m.ID)
            @Html.HiddenFor(m=>m.grade_id)
            <div class="col-sm-offset-8 col-sm-4 right">
                @Html.Kendo().Button().Name("rest_btn").Content("Cancel").HtmlAttributes(new { @class = "k-button k-danger", type = "reset", name = "ButtonType" })

                @Html.Kendo().Button().Name("BtnApply").Content("Save").HtmlAttributes(new { @class = "k-button k-primary", type = "submit", name = "ButtonType", value = "Apply" }).Icon("plus")

            </div>
        </div>




    }
</div>
